.containerContent {
  color: #5A5555;
  font-weight: 500;
  box-shadow: 1px 4px 10px #13131348;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.containerContent h2 {
  color: #03A8AB;
  font-weight: 700;
  margin-bottom: 10px;
}

.containerContent h3 {
  color: #000;
  font-weight: 600;
  margin-bottom: 10px;
}

.containerInsideContent {
  background-color: white;
  box-shadow: 1px 4px 5px #1919198d;
  margin-top: -5px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.buttonsInsideContent {
  background-color: #03A8AB1A;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 4px 10px #13131348;
}

.buttonsInsideContent button {
  color: #03A8AB;
  padding: 5px;
  border-radius: 10px;
  width: 45%;
  transition: all .3s;
}

.buttonsInsideContentSelected {
  background-color: #03A8AB;
  color: #fff !important;
  padding: 5px;
  border-radius: 10px;
  width: 45%;
  transition: all .3s;
}

.feedBackImgs img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
}


.containerMedication{
  background-color: #fff;
  padding: 15px;
  color: #5A5555;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 3px 6px hsla(0, 0%, 0%, 0.256);
}
.containerMedication h1{
  color: #03A8AB;
  font-size: 20px;
  font-weight: 700;
}

.buttonOk{
  background-color: #8163B0;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 6px;
  border-radius: 10px;
  font-weight: 600;
}

.insideContainerMedication{
  background-color: #03A8AB33;
  border-radius: 10px;
  padding: 5px;
}
.insideContainerMedication span{
  color: #03A8AB;
  font-size: 35px;
}
.insideContainerMedication p{
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 700;
}