.containerTreatments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 18px;
}

.treatmentsStyles {
  flex: 1 1 calc(50% - 20px);
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.treatmentsStyles img {
  margin: auto;
  width: 25px;
  object-fit: cover;
  object-position: center;
}


@media (max-width: 350px) {
  .treatmentsStyles {
    flex: 1 1 calc(100% - 20px);
  }
}