.containerFooter {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    margin-top: 100px;
}
.containerFooter img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.urgency {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.urgency img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -35px;
}
.urgency p {
    margin: 30px 0 0 0;
    position: relative;
}