.containerFooter {
  background-color: #fff;
  color: #0087D0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  max-width: 500px;
  width: 100vw;
  border-top: 1px solid #0087D0;
}
.containerFooter img {
  width: 25px;
  height: 25px;
  margin: auto;
}
.containerFooter a {
  width: 25%;
}
.containerFooter button {
  width: 25%;
  text-align: center;
}
.containerFooter button img {
  width: 35px;
  margin: auto;
}
.containerFooter p {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.viewPopUpFooter {
  background-color: #fae1e6;
  border: 2px solid #ea526f;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 0px 1000px rgb(0, 0, 0);
  z-index: 999;
  max-width: 450px;
  height: 60vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpContentFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.popUpContentFooter h2 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 40px;
}
.popUpContentFooter img {
  width: 100px;
  height: 100px;
}
