.containerFooter {
  background-color: #25CED1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
.containerFooter img {
  width: 25px;
  height: 25px;
  margin: auto;
}
.containerFooter p {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.urgency {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.urgency img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: -30px;
}
.urgency p {
  margin: 25px 0 0 0;
  position: relative;
}
