.containerOtherNavBar {
    background-color: #fff;
    position: relative;
    width: 100%;
}

.icon-container {
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
}
.menu-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
}

.sidebar {
    padding-left: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    transition: transform 0.3s ease;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
}


.sidebar-open {
    transform: translateX(0);
}

.sidebar-closed {
    transform: translateX(-100%);
}

.containerImgNavBar img {
    width: 200px;
    margin-top: 50px;
}

.buttonsOtherNavBar {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    transition: filter 0.8s ease;
}
.buttonsOtherNavBar:hover {
    color: #0087D0;
}
.buttonsOtherNavBar img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(0%) grayscale(100%) brightness(0%) contrast(100%); /* Imágenes negras oscuras por defecto */
}
.buttonsOtherNavBar:hover img {
    filter: invert(54%) sepia(91%) saturate(3000%) hue-rotate(174deg);
}
.buttonsOtherNavBar p:hover {
    color: #0087D0;
    border-bottom: 1px solid #0087D0;
}


.sidebar-content {
    flex: 1;
}

.sidebar-footer {
    padding: 1rem;
    margin-bottom: 50px;
}