.mainProfileConfiguration{
    color: #25CED1;
}

.userPictureName{
    color: #EA526F;
}

.containerPersonalDa{
    border-radius: 10px;
    padding: 15px;
    background-color: #E5F3FA;
    color: #0087D0;
}