.previous-consultation {
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.backPage{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.backPage img{
    width: 40px;
    height: 40px;
}
.backPage p{
    margin-left: 15px;
    font-weight: 600;
}

.boxCotent{
    box-shadow: 0px 0px 3px #1616168a;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 15px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.header img {
    border-radius: 30%;
    width: 70px;
    height: 70px;
}
.detailsHeader {
    margin-left: 15px;
    font-weight: 500;
}
.detailsHeader h2 {
    font-size: 18px;
}

.appointment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
    padding: 15px;
    margin: 20px;
    background-color: #EDE1FF;
    border-radius: 5px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    width: 40%;
    padding: 10px;
    background-color: #E6E4E3;
    color: #0087D0;
}



.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    border: 1px solid #009FF5;
    border-radius: 5px;
}
.tabs button {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
}
.tabs .active {
    color: #009FF5;
    background-color: #D9F2FF;
    border-radius: 10px;
    transition: all .3s;
}
.content {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #FDFDFD;
}
.content h3 {
    font-weight: 500;
    margin-top: 10px;
}
.content p {
    margin-bottom: 5px;
}




.footer-buttons {
    display: flex;
    justify-content: space-between;
}
.footer-buttons button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #D9F2FF;
    color: #0087D0;
    font-weight: 500;
    width: 45%;
}

.start-consultation {
    background-color: #2196f3;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
}