.titleContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #25ced1;
}
.titleContainer img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 5px;
}

.planes {
  background-color: #0087D0;
  color: #fff;
  margin: auto;
  width: 90%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: #0f0f0f65 0px 0px 4px;
}
.planes h2 {
  font-weight: 500;
  font-size: 18px;
}
.planes p {
  font-size: 14px;
}
.planes img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.optionsContainer {
  margin: auto;
  width: 90%;
  padding-bottom: 60px;
}

.optionGreen {
  background-color: #03A8AB1A;
  color: #028082;
  box-shadow: 1px 2px 5px #1313132f;
  font-weight: 400;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.imageGreen {
  filter: invert(24%) sepia(80%) saturate(4766%) hue-rotate(163deg);
}

.optionPink {
  background-color: #FCEDEF;
  color: #EA526F;
  box-shadow: 1px 2px 5px #1313132f;
  font-weight: 400;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.imagePink {
  filter: invert(22%) sepia(80%) saturate(3945%) hue-rotate(-25deg);
}

.optionOrange {
  background-color: #FFEDE9;
  color: #DA6000;
  box-shadow: 1px 2px 5px #1313132f;
  font-weight: 400;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.imageOrange {
  filter: invert(46%) sepia(100%) saturate(5000%) hue-rotate(17deg);
}

.optionBlue{
  background-color: #E5F3FA;
  color: #0087D0;
  box-shadow: 1px 2px 5px #1313132f;
  font-weight: 400;
  width: 100%;
  font-weight: 500;
  border-bottom: 1px solid #0087D099;
  padding: 20px;
}
.imageBlue {
  filter: invert(48%) sepia(100%) saturate(5900%) hue-rotate(200deg);
}


.containerBigTreatments {
  position: relative;
}

.containerComponents {
  width: 90%;
  margin: auto;
  padding-bottom: 100px;
}

.backContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 20px;
}
.back {
  padding: 6px;
  border: 2px solid #ea526f;
  border-radius: 30px;
  background-color: #fff;
}
.back img {
  width: 20px;
  height: 20px;
}

.navigationButtons {
  margin-top: 10px;
  margin-bottom: 50px;
}
.navigationButtons button {
  background-color: #25ced1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.navigationButtons img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  object-position: center;
}

.orientationImg img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}